# Solana
.anchor/
target/
**/*.so

# Node
node_modules/
yarn.lock
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Temporary files
*.tmp
*.temp

# Build artifacts
dist/
build/

# Test coverage
coverage/
